[flake8]
max-line-length = 88
max-complexity = 14
exclude =
    .git
    __pycache__
    setup.py
    build
    dist
    releases
    .venv
    .tox
    .mypy_cache
    .pytest_cache
    .vscode
    .github
select = C,E,F,W,B,B901
classmethod-decorators =
    classmethod
    validator